.counter {
  border: 0.1rem solid black;
  height: 35rem;
  width: 45rem;
}

.counter__number {
  height: 20rem;
  width: 20rem;
  border: 0.1rem solid black;
  margin-bottom: 3rem;
  font-size: 4rem;
  transition: 0.2s ease-in;
}
